<!DOCTYPE html>
<html>
<head>
    <title>PiSync</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>PiSync</h1>

    <h2>Clients</h2>
    <div id="clientDisplayList" class="list">
        {% for client in existing_clients %}
        <div class="list-item">
            <span{% if not client.is_online %} class="offline-client"{% endif %} data-client-ip="{{ client.ip_address }}">
                {{ client.friendly_name }}
            {% if not client.is_online %}
                (Offline)
            {% endif %}
            </span>
            <button class="button edit-button">Edit</button>
        </div>
        {% endfor %}
        <button class="button" onclick="search_for_clients()">Add Client</button>
    </div>

    <h2>Media</h2>
    <div class="list">
        {% for media in existing_media %}
        <div class="list-item">
            <span{% if media.client and not media.client.is_online %} class="item-name offline-client" {% else %} class="item-name" {% endif %} data-media-id="{{ media.db_id }}">{{media.name}} {% if media.client %}({{media.client.friendly_name}}){% endif %}</span>
            <button class="button play-button" onclick="playMedia(`{{ media.db_id }}`)">Play</button>
            <button class="button edit-button edit-media-btn" data-media-id="{{ media.db_id }}" data-media-name="{{ media.name }}">Edit</button>
        </div>
        {% endfor %}
        <button class="button">Add Media</button>
    </div>

    <h2>Cues</h2>
    <div class="list">
        <div class="list-item">
            <span class="item-name">Cue 1</span>
            <button class="button play-button">Play</button>
        </div>
        <div class="list-item">
            <span class="item-name">Cue 2</span>
            <button class="button play-button">Play</button>
        </div>
        <button class="button">Add Cue</button>
    </div>
</div>

<!-- Edit Media Modal -->
<div id="editMediaModal" class="modal">
    <div class="modal-content">
        <span id="editMediaModalClose" class="close-button">&times;</span>
        <h2>Edit Media</h2>
        <form id="editMediaForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <button type="submit" class="button">Save</button>
        </form>
    </div>
</div>

<!-- Search for Clients Modal -->
<div id="clientSearchModal" class="modal">
    <div class="modal-content">
        <span id="clientSearchModalClose" class="close-button">&times;</span>
        <h2 id="searchClientsHeader">Searching for Clients...</h2>
        <p id="clientList"></p>
        <button id="connectToClientsBtn" type="submit" class="button" style="display:none;">Connect</button>
    </div>
</div>

<script src="{{ url_for('static', path='/js/index_media.js') }}"></script>
<script src="{{ url_for('static', path='/js/index_clients.js') }}"></script>
<script src="{{ url_for('static', path='/js/sockets.js') }}"></script>

</body>
</html>

