<!DOCTYPE html>
<html>
<head>
    <title>PiSync</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>PiSync</h1>

    <h2>Clients</h2>
    <div id="clientDisplayList" class="list">
        {% for client in existing_clients %}
        <div class="list-item">
            <span{% if not client.is_online %} class="offline-client"{% endif %}>
                {{ client.friendly_name }}
            {% if not client.is_online %}
                (Offline)
            {% endif %}
            </span>
            <button class="button edit-button">Edit</button>
        </div>
        {% endfor %}
        <button class="button" onclick="search_for_clients()">Add Client</button>
    </div>

    <h2>Local Media</h2>
    <div class="list">
        {% for media in existing_media %}
        <div class="list-item">
            <span class="item-name" data-media-id="{{ media.db_id }}">{{media.name}}</span>
            <button class="button play-button" onclick="playMedia(`{{ media.db_id }}`)">Play</button>
            <button class="button edit-button edit-media-btn" data-media-id="{{ media.db_id }}" data-media-name="{{ media.name }}">Edit</button>
        </div>
        {% endfor %}
        <button class="button">Add Media</button>
    </div>

    <h2>Cues</h2>
    <div class="list">
        <div class="list-item">
            <span class="item-name">Cue 1</span>
            <button class="button play-button">Play</button>
        </div>
        <div class="list-item">
            <span class="item-name">Cue 2</span>
            <button class="button play-button">Play</button>
        </div>
        <button class="button">Add Cue</button>
    </div>
</div>

<!-- Edit Media Modal -->
<div id="editMediaModal" class="modal">
    <div class="modal-content">
        <span id="editMediaModalClose" class="close-button">&times;</span>
        <h2>Edit Media</h2>
        <form id="editMediaForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <button type="submit" class="button">Save</button>
        </form>
    </div>
</div>

<!-- Search for Clients Modal -->
<div id="clientSearchModal" class="modal">
    <div class="modal-content">
        <span id="clientSearchModalClose" class="close-button">&times;</span>
        <h2 id="searchClientsHeader">Searching for Clients...</h2>
        <p id="clientList"></p>
        <button id="connectToClientsBtn" type="submit" class="button" style="display:none;">Connect</button>
    </div>
</div>

<script src="{{ url_for('static', path='/js/index_media.js') }}"></script>

<script>
    // Search for Clients Modal
    const clientSearchModal = document.getElementById('clientSearchModal');
    const closeClientSearchModalBtn = document.getElementById('clientSearchModalClose');
    const clientSearchModalHeader = document.getElementById('searchClientsHeader');
    const clientSearchConnectBtn = document.getElementById('connectToClientsBtn');

    // Close the modal when the close button is clicked
    closeClientSearchModalBtn.addEventListener('click', function() {
        clientSearchModal.style.display = 'none';
    })

    // Close the modal when the user clicks outside of it
    window.addEventListener('click', function(event) {
        if (event.target === clientSearchModal) {
            clientSearchModal.style.display = 'none';
        }
    });

    function search_for_clients() {
        clientSearchModalHeader.textContent = 'Searching for Clients...';
        clientSearchConnectBtn.style.display = 'none';
        let clientListElem = document.getElementById('clientList');
        clientListElem.innerHTML = '';
        clientSearchModal.style.display = 'block';

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/clients/search', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Handle successful response here
                console.log('Sent request to search for clients!');

                clientSearchModalHeader.textContent = 'Select Client(s) to Add'

                let response = JSON.parse(xhr.response);

                response.clients.forEach(function(client) {
                    const listItem = document.createElement('div');
                    listItem.className = 'list-item';
                    listItem.innerHTML = `
                        <label>
                          <input type="checkbox" value="${client.ip_address}" data-hostname="${client.hostname}" class="client-checkbox">
                          ${client.hostname} (${client.ip_address})
                        </label>`;
                    clientListElem.appendChild(listItem);
                });

                clientSearchConnectBtn.style.display = 'block';
            } else {
                // Handle error or other response statuses here
                console.error('Error searching for clients');
            }
        };
        xhr.send(JSON.stringify({}));
    }

    clientSearchConnectBtn.addEventListener('click', function() {
        let checkedClients = get_checked_clients()
        let requestBody = JSON.stringify({ clients: checkedClients });

        fetch(`/client/add`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: requestBody
        })
            .then(response => {
                if (response.ok) {
                    // Handle success
                    console.log('Added clients');
                    clientSearchModal.style.display = 'none';

                    const clientDisplayListElem = document.getElementById("clientDisplayList");

                    response.json().then(data => {
                        data.forEach(function(newClient) {
                            const listItem = document.createElement('div');
                            listItem.className = 'list-item';
                            listItem.innerHTML = `
                                <span>${newClient.friendly_name}</span>
                                <button class="button edit-button">Edit</button>`;
                            clientDisplayListElem.insertBefore(listItem, clientDisplayListElem.firstChild);
                        });
                    });

                } else {
                    // Handle error
                    console.error('Failed to add clients');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    function get_checked_clients() {
        // Get all the client checkboxes
        const clientCheckboxes = document.querySelectorAll('.client-checkbox');

        // Initialize an empty array to store the checked checkboxes
        const checkedClients = [];

        // Iterate through each checkbox
        clientCheckboxes.forEach(checkbox => {
            // Check if the checkbox is checked
            if (checkbox.checked) {
                // Get the value (IP address) of the checked checkbox
                const ipAddress = checkbox.value;
                const hostname = checkbox.getAttribute("data-hostname");

                let client = {
                    ip_address: ipAddress,
                    hostname: hostname
                }

                // Add the checked IP address to the array
                checkedClients.push(client);
            }
        });

        return checkedClients;
    }


</script>

</body>
</html>

